<h1>Welcome to the Knowledgement Homepage</h1>

<ul>
  {{#each model as |question|}}
    <li>{{question.author}} ask's: <br> {{question.question}} <br> note: {{question.note}} <hr> </li>
  {{/each}}
</ul>
